/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/3a4c4bbc-0f5a-4b2f-9c5a-6b2c33632718.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/6485f5f5-98dd-4bf1-80a0-7e4bb1838a94.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/82d780dc-4e3f-43ed-a3cb-b9235967f2b0.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/b3191207-bb96-4b29-b735-b8e80c621c46.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/db1c9aad-0d34-4bb9-83c6-c17b3652dfd9.vsidx
/SOLID.Solution/.vs/SOLID.Solution/v17/.suo
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/01c7fb53-22d7-4777-8a80-82634ee50f7c.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/354db8f8-eb84-441e-9840-641afdab7d96.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/4d895fd4-8601-4336-a911-102aa42b2eb8.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/b76f6982-5cc0-432f-ab6e-d9061b1f9f4d.vsidx
