/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/3a4c4bbc-0f5a-4b2f-9c5a-6b2c33632718.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/6485f5f5-98dd-4bf1-80a0-7e4bb1838a94.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/82d780dc-4e3f-43ed-a3cb-b9235967f2b0.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/b3191207-bb96-4b29-b735-b8e80c621c46.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/db1c9aad-0d34-4bb9-83c6-c17b3652dfd9.vsidx
/SOLID.Solution/.vs/SOLID.Solution/v17/.suo
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/01c7fb53-22d7-4777-8a80-82634ee50f7c.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/354db8f8-eb84-441e-9840-641afdab7d96.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/4d895fd4-8601-4336-a911-102aa42b2eb8.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/b76f6982-5cc0-432f-ab6e-d9061b1f9f4d.vsidx
/SOLID.Solution/_1_Solid_S_Problem/bin/Debug/net8.0/_1_Solid_S_Problem.deps.json
/SOLID.Solution/_1_Solid_S_Problem/bin/Debug/net8.0/_1_Solid_S_Problem.dll
/SOLID.Solution/_1_Solid_S_Problem/bin/Debug/net8.0/_1_Solid_S_Problem.pdb
/SOLID.Solution/_1_Solid_S_Problem/obj/_1_Solid_S_Problem.csproj.nuget.dgspec.json
/SOLID.Solution/_1_Solid_S_Problem/obj/_1_Solid_S_Problem.csproj.nuget.g.props
/SOLID.Solution/_1_Solid_S_Problem/obj/_1_Solid_S_Problem.csproj.nuget.g.targets
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/_1_Solid_S_Problem.AssemblyInfo.cs
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/_1_Solid_S_Problem.AssemblyInfoInputs.cache
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/_1_Solid_S_Problem.assets.cache
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/_1_Solid_S_Problem.csproj.CoreCompileInputs.cache
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/_1_Solid_S_Problem.csproj.FileListAbsolute.txt
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/_1_Solid_S_Problem.dll
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/_1_Solid_S_Problem.GeneratedMSBuildEditorConfig.editorconfig
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/_1_Solid_S_Problem.GlobalUsings.g.cs
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/_1_Solid_S_Problem.pdb
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/_1_Solid_S_Problem.sourcelink.json
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/ref/_1_Solid_S_Problem.dll
/SOLID.Solution/_1_Solid_S_Problem/obj/Debug/net8.0/refint/_1_Solid_S_Problem.dll
/SOLID.Solution/_1_Solid_S_Problem/obj/project.assets.json
/SOLID.Solution/_1_Solid_S_Problem/obj/project.nuget.cache
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/25621c79-391d-46ba-a82b-593d8cb5fbac.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/7f85c4d7-c639-4309-9536-850e826d30f3.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/96ff1983-733f-403f-af31-ff07441ecaee.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/a067262b-1698-480e-b944-0b52c8619ece.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/c84f4eef-174e-4a93-b2ff-fab9c8b74ade.vsidx
/SOLID.Solution/1_Solid_S_Solution/bin/Debug/net8.0/_1_Solid_S_Solution.deps.json
/SOLID.Solution/1_Solid_S_Solution/bin/Debug/net8.0/_1_Solid_S_Solution.dll
/SOLID.Solution/1_Solid_S_Solution/bin/Debug/net8.0/_1_Solid_S_Solution.pdb
/SOLID.Solution/1_Solid_S_Solution/obj/_1_Solid_S_Solution.csproj.nuget.dgspec.json
/SOLID.Solution/1_Solid_S_Solution/obj/_1_Solid_S_Solution.csproj.nuget.g.props
/SOLID.Solution/1_Solid_S_Solution/obj/_1_Solid_S_Solution.csproj.nuget.g.targets
/SOLID.Solution/1_Solid_S_Solution/obj/1_Solid_S_Solution.csproj.nuget.dgspec.json
/SOLID.Solution/1_Solid_S_Solution/obj/1_Solid_S_Solution.csproj.nuget.g.props
/SOLID.Solution/1_Solid_S_Solution/obj/1_Solid_S_Solution.csproj.nuget.g.targets
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.AssemblyInfo.cs
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.AssemblyInfoInputs.cache
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.assets.cache
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.csproj.CoreCompileInputs.cache
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.csproj.FileListAbsolute.txt
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.dll
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.GeneratedMSBuildEditorConfig.editorconfig
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.GlobalUsings.g.cs
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.pdb
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.sourcelink.json
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/1_Solid_S_Solution.AssemblyInfo.cs
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/1_Solid_S_Solution.AssemblyInfoInputs.cache
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/1_Solid_S_Solution.assets.cache
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/1_Solid_S_Solution.GeneratedMSBuildEditorConfig.editorconfig
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/1_Solid_S_Solution.GlobalUsings.g.cs
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/ref/_1_Solid_S_Solution.dll
/SOLID.Solution/1_Solid_S_Solution/obj/Debug/net8.0/refint/_1_Solid_S_Solution.dll
/SOLID.Solution/1_Solid_S_Solution/obj/project.assets.json
/SOLID.Solution/1_Solid_S_Solution/obj/project.nuget.cache
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/4af8ad9c-92ce-4657-b6a1-76b51d5fa279.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/5e798ff6-ed46-41a7-98eb-65c6b144a188.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/7fff1fec-b229-47ca-814a-d7454d00b0ff.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/b30c8b13-6b3a-46ee-87a5-60ed9985de7e.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/e01b1933-c015-4c7e-a614-6d2c6f11231b.vsidx
/SOLID.Solution/_1_Solid_S_Solution/bin/Debug/net8.0/_1_Solid_S_Solution.deps.json
/SOLID.Solution/_1_Solid_S_Solution/bin/Debug/net8.0/_1_Solid_S_Solution.dll
/SOLID.Solution/_1_Solid_S_Solution/bin/Debug/net8.0/_1_Solid_S_Solution.pdb
/SOLID.Solution/_1_Solid_S_Solution/obj/_1_Solid_S_Solution.csproj.nuget.dgspec.json
/SOLID.Solution/_1_Solid_S_Solution/obj/_1_Solid_S_Solution.csproj.nuget.g.props
/SOLID.Solution/_1_Solid_S_Solution/obj/_1_Solid_S_Solution.csproj.nuget.g.targets
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.AssemblyInfo.cs
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.AssemblyInfoInputs.cache
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.assets.cache
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.csproj.CoreCompileInputs.cache
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.csproj.FileListAbsolute.txt
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.dll
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.GeneratedMSBuildEditorConfig.editorconfig
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.GlobalUsings.g.cs
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.pdb
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/_1_Solid_S_Solution.sourcelink.json
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/ref/_1_Solid_S_Solution.dll
/SOLID.Solution/_1_Solid_S_Solution/obj/Debug/net8.0/refint/_1_Solid_S_Solution.dll
/SOLID.Solution/_1_Solid_S_Solution/obj/project.assets.json
/SOLID.Solution/_1_Solid_S_Solution/obj/project.nuget.cache
/SOLID.Solution/_2_Solid_O_Problem/bin/Debug/net8.0/_2_Solid_O_Problem.deps.json
/SOLID.Solution/_2_Solid_O_Problem/bin/Debug/net8.0/_2_Solid_O_Problem.dll
/SOLID.Solution/_2_Solid_O_Problem/bin/Debug/net8.0/_2_Solid_O_Problem.pdb
/SOLID.Solution/_2_Solid_O_Problem/obj/_2_Solid_O_Problem.csproj.nuget.dgspec.json
/SOLID.Solution/_2_Solid_O_Problem/obj/_2_Solid_O_Problem.csproj.nuget.g.props
/SOLID.Solution/_2_Solid_O_Problem/obj/_2_Solid_O_Problem.csproj.nuget.g.targets
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/_2_Solid_O_Problem.AssemblyInfo.cs
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/_2_Solid_O_Problem.AssemblyInfoInputs.cache
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/_2_Solid_O_Problem.assets.cache
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/_2_Solid_O_Problem.csproj.CoreCompileInputs.cache
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/_2_Solid_O_Problem.csproj.FileListAbsolute.txt
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/_2_Solid_O_Problem.dll
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/_2_Solid_O_Problem.GeneratedMSBuildEditorConfig.editorconfig
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/_2_Solid_O_Problem.GlobalUsings.g.cs
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/_2_Solid_O_Problem.pdb
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/_2_Solid_O_Problem.sourcelink.json
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/ref/_2_Solid_O_Problem.dll
/SOLID.Solution/_2_Solid_O_Problem/obj/Debug/net8.0/refint/_2_Solid_O_Problem.dll
/SOLID.Solution/_2_Solid_O_Problem/obj/project.assets.json
/SOLID.Solution/_2_Solid_O_Problem/obj/project.nuget.cache
/SOLID.Solution/_2_Solid_O_Solution/bin/Debug/net8.0/_2_Solid_O_Solution.deps.json
/SOLID.Solution/_2_Solid_O_Solution/bin/Debug/net8.0/_2_Solid_O_Solution.dll
/SOLID.Solution/_2_Solid_O_Solution/bin/Debug/net8.0/_2_Solid_O_Solution.pdb
/SOLID.Solution/_2_Solid_O_Solution/obj/_2_Solid_O_Solution.csproj.nuget.dgspec.json
/SOLID.Solution/_2_Solid_O_Solution/obj/_2_Solid_O_Solution.csproj.nuget.g.props
/SOLID.Solution/_2_Solid_O_Solution/obj/_2_Solid_O_Solution.csproj.nuget.g.targets
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/_2_Solid_O_Solution.AssemblyInfo.cs
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/_2_Solid_O_Solution.AssemblyInfoInputs.cache
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/_2_Solid_O_Solution.assets.cache
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/_2_Solid_O_Solution.csproj.CoreCompileInputs.cache
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/_2_Solid_O_Solution.csproj.FileListAbsolute.txt
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/_2_Solid_O_Solution.dll
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/_2_Solid_O_Solution.GeneratedMSBuildEditorConfig.editorconfig
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/_2_Solid_O_Solution.GlobalUsings.g.cs
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/_2_Solid_O_Solution.pdb
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/_2_Solid_O_Solution.sourcelink.json
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/ref/_2_Solid_O_Solution.dll
/SOLID.Solution/_2_Solid_O_Solution/obj/Debug/net8.0/refint/_2_Solid_O_Solution.dll
/SOLID.Solution/_2_Solid_O_Solution/obj/project.assets.json
/SOLID.Solution/_2_Solid_O_Solution/obj/project.nuget.cache
/SOLID.Solution/_3_Solid_L_Problem/bin/Debug/net8.0/_3_Solid_L_Problem.deps.json
/SOLID.Solution/_3_Solid_L_Problem/bin/Debug/net8.0/_3_Solid_L_Problem.dll
/SOLID.Solution/_3_Solid_L_Problem/bin/Debug/net8.0/_3_Solid_L_Problem.pdb
/SOLID.Solution/_3_Solid_L_Problem/obj/_3_Solid_L_Problem.csproj.nuget.dgspec.json
/SOLID.Solution/_3_Solid_L_Problem/obj/_3_Solid_L_Problem.csproj.nuget.g.props
/SOLID.Solution/_3_Solid_L_Problem/obj/_3_Solid_L_Problem.csproj.nuget.g.targets
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/_3_Solid_L_Problem.AssemblyInfo.cs
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/_3_Solid_L_Problem.AssemblyInfoInputs.cache
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/_3_Solid_L_Problem.assets.cache
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/_3_Solid_L_Problem.csproj.CoreCompileInputs.cache
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/_3_Solid_L_Problem.csproj.FileListAbsolute.txt
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/_3_Solid_L_Problem.dll
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/_3_Solid_L_Problem.GeneratedMSBuildEditorConfig.editorconfig
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/_3_Solid_L_Problem.GlobalUsings.g.cs
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/_3_Solid_L_Problem.pdb
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/_3_Solid_L_Problem.sourcelink.json
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/ref/_3_Solid_L_Problem.dll
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/refint/_3_Solid_L_Problem.dll
/SOLID.Solution/_3_Solid_L_Problem/obj/project.assets.json
/SOLID.Solution/_3_Solid_L_Problem/obj/project.nuget.cache
/SOLID.Solution/_3_Solid_L_Solution/bin/Debug/net8.0/_3_Solid_L_Solution.deps.json
/SOLID.Solution/_3_Solid_L_Solution/bin/Debug/net8.0/_3_Solid_L_Solution.dll
/SOLID.Solution/_3_Solid_L_Solution/bin/Debug/net8.0/_3_Solid_L_Solution.pdb
/SOLID.Solution/_3_Solid_L_Solution/obj/_3_Solid_L_Solution.csproj.nuget.dgspec.json
/SOLID.Solution/_3_Solid_L_Solution/obj/_3_Solid_L_Solution.csproj.nuget.g.props
/SOLID.Solution/_3_Solid_L_Solution/obj/_3_Solid_L_Solution.csproj.nuget.g.targets
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/_3_Solid_L_Solution.AssemblyInfo.cs
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/_3_Solid_L_Solution.AssemblyInfoInputs.cache
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/_3_Solid_L_Solution.assets.cache
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/_3_Solid_L_Solution.csproj.CoreCompileInputs.cache
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/_3_Solid_L_Solution.csproj.FileListAbsolute.txt
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/_3_Solid_L_Solution.dll
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/_3_Solid_L_Solution.GeneratedMSBuildEditorConfig.editorconfig
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/_3_Solid_L_Solution.GlobalUsings.g.cs
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/_3_Solid_L_Solution.pdb
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/_3_Solid_L_Solution.sourcelink.json
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/ref/_3_Solid_L_Solution.dll
/SOLID.Solution/_3_Solid_L_Solution/obj/Debug/net8.0/refint/_3_Solid_L_Solution.dll
/SOLID.Solution/_3_Solid_L_Solution/obj/project.assets.json
/SOLID.Solution/_3_Solid_L_Solution/obj/project.nuget.cache
/SOLID.Solution/_4_Solid_I_Problem/obj/_4_Solid_I_Problem.csproj.nuget.dgspec.json
/SOLID.Solution/_4_Solid_I_Problem/obj/_4_Solid_I_Problem.csproj.nuget.g.props
/SOLID.Solution/_4_Solid_I_Problem/obj/_4_Solid_I_Problem.csproj.nuget.g.targets
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/_4_Solid_I_Problem.AssemblyInfo.cs
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/_4_Solid_I_Problem.AssemblyInfoInputs.cache
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/_4_Solid_I_Problem.assets.cache
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/_4_Solid_I_Problem.csproj.CoreCompileInputs.cache
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/_4_Solid_I_Problem.csproj.FileListAbsolute.txt
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/_4_Solid_I_Problem.dll
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/_4_Solid_I_Problem.GeneratedMSBuildEditorConfig.editorconfig
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/_4_Solid_I_Problem.GlobalUsings.g.cs
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/_4_Solid_I_Problem.pdb
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/_4_Solid_I_Problem.sourcelink.json
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/ref/_4_Solid_I_Problem.dll
/SOLID.Solution/_4_Solid_I_Problem/obj/Debug/net8.0/refint/_4_Solid_I_Problem.dll
/SOLID.Solution/_4_Solid_I_Problem/obj/project.assets.json
/SOLID.Solution/_4_Solid_I_Problem/obj/project.nuget.cache
/SOLID.Solution/_4_Solid_I_Solution/bin/Debug/net8.0/_4_Solid_I_Solution.deps.json
/SOLID.Solution/_4_Solid_I_Solution/bin/Debug/net8.0/_4_Solid_I_Solution.dll
/SOLID.Solution/_4_Solid_I_Solution/bin/Debug/net8.0/_4_Solid_I_Solution.pdb
/SOLID.Solution/_4_Solid_I_Solution/obj/_4_Solid_I_Solution.csproj.nuget.dgspec.json
/SOLID.Solution/_4_Solid_I_Solution/obj/_4_Solid_I_Solution.csproj.nuget.g.props
/SOLID.Solution/_4_Solid_I_Solution/obj/_4_Solid_I_Solution.csproj.nuget.g.targets
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/_4_Solid_I_Solution.AssemblyInfo.cs
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/_4_Solid_I_Solution.AssemblyInfoInputs.cache
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/_4_Solid_I_Solution.assets.cache
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/_4_Solid_I_Solution.csproj.CoreCompileInputs.cache
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/_4_Solid_I_Solution.csproj.FileListAbsolute.txt
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/_4_Solid_I_Solution.dll
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/_4_Solid_I_Solution.GeneratedMSBuildEditorConfig.editorconfig
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/_4_Solid_I_Solution.GlobalUsings.g.cs
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/_4_Solid_I_Solution.pdb
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/_4_Solid_I_Solution.sourcelink.json
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/ref/_4_Solid_I_Solution.dll
/SOLID.Solution/_4_Solid_I_Solution/obj/Debug/net8.0/refint/_4_Solid_I_Solution.dll
/SOLID.Solution/_4_Solid_I_Solution/obj/project.assets.json
/SOLID.Solution/_4_Solid_I_Solution/obj/project.nuget.cache
/SOLID.Solution/_5_Solid_D_Problem/bin/Debug/net8.0/_5_Solid_D_Problem.deps.json
/SOLID.Solution/_5_Solid_D_Problem/bin/Debug/net8.0/_5_Solid_D_Problem.dll
/SOLID.Solution/_5_Solid_D_Problem/bin/Debug/net8.0/_5_Solid_D_Problem.pdb
/SOLID.Solution/_5_Solid_D_Problem/obj/_5_Solid_D_Problem.csproj.nuget.dgspec.json
/SOLID.Solution/_5_Solid_D_Problem/obj/_5_Solid_D_Problem.csproj.nuget.g.props
/SOLID.Solution/_5_Solid_D_Problem/obj/_5_Solid_D_Problem.csproj.nuget.g.targets
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/_5_Solid_D_Problem.AssemblyInfo.cs
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/_5_Solid_D_Problem.AssemblyInfoInputs.cache
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/_5_Solid_D_Problem.assets.cache
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/_5_Solid_D_Problem.csproj.CoreCompileInputs.cache
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/_5_Solid_D_Problem.csproj.FileListAbsolute.txt
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/_5_Solid_D_Problem.dll
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/_5_Solid_D_Problem.GeneratedMSBuildEditorConfig.editorconfig
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/_5_Solid_D_Problem.GlobalUsings.g.cs
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/_5_Solid_D_Problem.pdb
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/_5_Solid_D_Problem.sourcelink.json
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/ref/_5_Solid_D_Problem.dll
/SOLID.Solution/_5_Solid_D_Problem/obj/Debug/net8.0/refint/_5_Solid_D_Problem.dll
/SOLID.Solution/_5_Solid_D_Problem/obj/project.assets.json
/SOLID.Solution/_5_Solid_D_Problem/obj/project.nuget.cache
/SOLID.Solution/_5_Solid_D_Solution/bin/Debug/net8.0/_5_Solid_D_Solution.deps.json
/SOLID.Solution/_5_Solid_D_Solution/bin/Debug/net8.0/_5_Solid_D_Solution.dll
/SOLID.Solution/_5_Solid_D_Solution/bin/Debug/net8.0/_5_Solid_D_Solution.pdb
/SOLID.Solution/_5_Solid_D_Solution/obj/_5_Solid_D_Solution.csproj.nuget.dgspec.json
/SOLID.Solution/_5_Solid_D_Solution/obj/_5_Solid_D_Solution.csproj.nuget.g.props
/SOLID.Solution/_5_Solid_D_Solution/obj/_5_Solid_D_Solution.csproj.nuget.g.targets
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/_5_Solid_D_Solution.AssemblyInfo.cs
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/_5_Solid_D_Solution.AssemblyInfoInputs.cache
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/_5_Solid_D_Solution.assets.cache
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/_5_Solid_D_Solution.csproj.CoreCompileInputs.cache
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/_5_Solid_D_Solution.csproj.FileListAbsolute.txt
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/_5_Solid_D_Solution.dll
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/_5_Solid_D_Solution.GeneratedMSBuildEditorConfig.editorconfig
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/_5_Solid_D_Solution.GlobalUsings.g.cs
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/_5_Solid_D_Solution.pdb
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/_5_Solid_D_Solution.sourcelink.json
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/ref/_5_Solid_D_Solution.dll
/SOLID.Solution/_5_Solid_D_Solution/obj/Debug/net8.0/refint/_5_Solid_D_Solution.dll
/SOLID.Solution/_5_Solid_D_Solution/obj/project.assets.json
/SOLID.Solution/_5_Solid_D_Solution/obj/project.nuget.cache
/SOLID.Solution/.vs/SOLID.Solution/DesignTimeBuild/.dtbcache.v2
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/0d17cf5d-f72e-461f-96c3-b5fc31458b4e.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/0e27aeb1-da11-4c44-878e-a2172a38fd4b.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/755eddde-ead8-4259-b329-da2aa40e341f.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/85c31fee-0910-499c-9da8-b3d77ff3d019.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/dd2c4253-defe-4539-b15a-b2f87392f86f.vsidx
/SOLID.Solution/.vs/SOLID.Solution/v17/.futdcache.v2
/SOLID.Solution/_4_Solid_I_Problem/bin/Debug/net8.0/_4_Solid_I_Problem.deps.json
/SOLID.Solution/_4_Solid_I_Problem/bin/Debug/net8.0/_4_Solid_I_Problem.dll
/SOLID.Solution/_4_Solid_I_Problem/bin/Debug/net8.0/_4_Solid_I_Problem.pdb
/SOLID.Solution/.vs/ProjectEvaluation/solid.solution.metadata.v7.bin
/SOLID.Solution/.vs/ProjectEvaluation/solid.solution.projects.v7.bin
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/3d2b3e91-0c23-4388-9751-c324314bed44.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/92795918-af88-473a-8c48-4f42e6c827a6.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/dfdc89d5-2837-474c-9c76-dacd525f5031.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/e71fa998-3597-4db9-9cd5-1be5b4fd06df.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/fff92504-3ac7-42a6-bc52-1ae3b052e23d.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/0ed7306b-514e-4af5-a446-406702622340.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/39ed0159-5a26-474e-885b-904dddd93ed0.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/a922706f-8bf5-44f7-a11a-32f2b9caa479.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/cda871e2-848a-4f7e-a377-b9a98f166ab6.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/e6bc162d-ad37-46a9-9960-6a61effab689.vsidx
/SOLID.Solution/_3_Solid_L_Problem/obj/Debug/net8.0/_3_Solid_L_Problem.csproj.AssemblyReference.cache
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/5e4075cf-b50b-4c3c-8a77-9f6dab50f90f.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/6077b52a-4e65-4515-b398-c0388accdf87.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/b318482d-fc34-4f3d-8b10-a249fafa9c57.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/c9995d0f-fb2b-4341-aeae-5cc4f3efc05e.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/ee469555-0fa8-424d-b10e-08ca5ef69acb.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/f3e95593-b569-4e0f-9272-503fb92d3630.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/005ef81e-f278-4fc3-92e8-63c8089e4135.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/3a327630-4bd1-4862-9d75-93a9e442caf3.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/3c5a50ea-f182-4a01-b6e7-de7fa3528852.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/444e3894-1a97-461f-a93f-eb978d1a9c50.vsidx
/SOLID.Solution/.vs/SOLID.Solution/FileContentIndex/7c3e51c1-83ea-47dc-8502-f7545f0b6ae5.vsidx
